/******************/
/* Body Styles  */
/***************/
body {
  color: #f2f2f2;
  background-color: rgba(135, 206, 235, 0.8);
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 100vh;
  /* webkit extensions source https://developer.mozilla.org/en-US/docs/Web/CSS/Webkit_Extensions  */
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
  display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
  align-items: center;
}


/**********************/
/* Score Board Panel: /
/********************/
.panel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
  display: flex;
  flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
  justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
  align-items: center;
  position: absolute;
  margin-top: 1em;
  margin: auto;
  height: 150px;
}

.panel h1 {
  text-align: center;
  color: #ffdb4d;
  text-shadow: 0.1em 0.1em black;
  font-family: 'Chicle', cursive;
  font-size: 3.5em;
  letter-spacing: 0.05em;
  margin: 0.5em auto;
  width: 100%;
  margin-bottom: 0;
}
.game-tracker {
  display: flex;
  width: 100%;
  padding: 0 0.5em;
  flex-direction: row;
}

.achievement-vault {
  display:flex;
  width: 50%;
}

.level-display {
  padding-left:5%;;
  width: 55%;
}

.level p {
  font-size: 1.5em;
  padding-left: 0.5em;
}

.lifebar {
  display:flex;
  width: 45%;
  height: 60px;
}

.lifebar {
  display:flex;
  width:45%;
  margin-left: 0.5em;

}
.lifebar img {
    width: 32px;
    height: 35px;
    margin: 0;
    padding: 0 0.5em;
}

.hide {
    visibility: hidden;
}

/*****************/
/*    Canvas:   */
/***************/
canvas {
  position: absolute;
  top: 150px;
}

/**********************/
/*  Footer Styles     */
/**********************/
.footer {
  position: absolute;
  flex-direction: column;
  align-items: center;
  margin:auto;
  overflow: auto;
  width: 100%;
  height: 150px;
}

.footer-content {
  margin: auto;
  width: 100%;
  align-self: center;
  margin-top: 0.5em;
}

h3 {
  font-weight: bold;
  text-shadow: 1px 1px black;
  font-size: 1.5em;
  margin: 0 0.5em;
}

 #footer p {
   margin-top: 0;
 }

.controller-key {
  width: 180px;
  margin: auto;
}

.controls-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px;
}

.controls-List {
  word-spacing: .5em;
  line-height: 1.5em;
  margin: auto;
}

/********************/
/* Media Queries   */
/******************/
@media only screen and (max-width: 500px) {
    .panel h1 {
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 300px) {
    .panel h1 {
        font-size: 2em;
    }
}

/****************************/
/* Game Status Alert Modal */
/**************************/
.modal {
  position: fixed;
  z-index: 99;
  width: 300px;
  height: 150px;
  top: 250px;
    -webkit-transition: top 1000ms;
    -o-transition: top 1000ms;
    -moz-transition: top 1000ms;
    transition: top 1000ms;
}

.out {
  top: -220px;
    -webkit-transition: top 1000ms;
    -o-transition: top 1000ms;
    -moz-transition: top 1000ms;
  transition: top 1000ms;
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.7);
  height: 100%;
  text-align: center;
}

.modal-header {
  width: 100%;
  height: 60px;
  background-color: rgba(135, 206, 235, 0.8);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
  display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
  justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
  align-items: center;
}

.modal-btn-close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.5em;
}

.modal-btn-cont {
  background-color:#ffdd1a;
  border: 1px solid black;
  padding: 0.5em;
}

.modal-body {
  color: black;
  padding-top: 20px;
  background-color: rgba(255,255,255, 0.9);
  text-align: center;
}
